<ion-app>
  <ion-content>
    <router-outlet></router-outlet>
  </ion-content>

  <ion-tab-bar slot="bottom" style="--background: #222; border-top: 1px solid #444;">
    
    <ion-tab-button tab="forma" routerLink="/nova-forma" routerLinkActive="active-tab" style="--color: #bbb;">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label style="font-weight: bold;">Nova Forma</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="istorija" routerLink="/istorija" routerLinkActive="active-tab" style="--color: #bbb;">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label style="font-weight: bold;">Istorija Zapisa</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-app>

<style>
  /* Boja za aktivnu karticu u meniju */
  .active-tab {
    --color: #3880ff !important; /* Ionic plava ili stavi #28a745 ako želiš zelenu */
  }
</style>